<div class="container-fluid bg-dark d-flex">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/images/1.jpg" class="card-img-top mx-1" alt="...">
        <div class="card-body">
            <h5 class="card-title">Carlos Sim</h5>
            <p class="card-text">Jefe de Ingenieria de Planta, proyectos y lanzamientos</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Ingenierio Electrónico</li>
            <li class="list-group-item">Ingenieria de Planta</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Editar</a>
            <a href="#" class="card-link">Eliminar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/images/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Carlos Sim</h5>
            <p class="card-text">Jefe de Ingenieria de Planta, proyectos y lanzamientos</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Ingenierio Electrónico</li>
            <li class="list-group-item">Ingenieria de Planta</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Editar</a>
            <a href="#" class="card-link">Eliminar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/images/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Carlos Sim</h5>
            <p class="card-text">Jefe de Ingenieria de Planta, proyectos y lanzamientos</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Ingenierio Electrónico</li>
            <li class="list-group-item">Ingenieria de Planta</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Editar</a>
            <a href="#" class="card-link">Eliminar</a>
        </div>
    </div>
</div>